@model HomeModel

@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao @Model.Nome</h1>
    <p>Sistema de gerenciamento e informações de jogos</p>
</div>
