@model ASP.NET_MVC___C__Portfolio.Models.Games

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar Jogos</h1>

<h4>Games</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="Plataformas" class="control-label"></label>
                <input asp-for="Plataformas" class="form-control" />
                <span asp-validation-for="Plataformas" class="text-danger"></span>
            </div>
            ------------------------------------------------------------------------------
            <div class="form-group">
                <label asp-for="Plataformas" class="control-label">Plataformas</label>
                <select asp-for="Plataformas" class="form-control">
                    <option value="">Selecione uma plataforma</option>
            ARROBAforeach (var plataforma in ViewBag.Plataformas)
            {
                            <option value="ARROBAplataforma.Value">ARROBAplataforma.Text</option>
            }
                </select>
                <span asp-validation-for="Plataformas" class="text-danger"></span>
            </div>
            -------------------------------------------------------------------------------
            <div class="form-group">
                <label asp-for="Plataformas" class="control-label">Plataformas:</label>
                <div>
            foreach (var plataforma in ViewBag.Plataformas)
            {
                            <input type="checkbox" asp-for="Plataformas" value="plataforma.Value" />
                            <label>plataforma.Text</label>
            }
                </div>
                <span asp-validation-for="Plataformas" class="text-danger"></span>
            </div>



            --> 
            <div class="form-group">
                <label asp-for="Plataformas" class="control-label">Plataformas</label>
                <select asp-for="Plataformas" class="form-control">
                    <option value="">Selecione uma plataforma</option>
                    @foreach (var plataforma in ViewBag.Plataformas)
                    {
                    <option value="@plataforma.Value">@plataforma.Text</option>
                    }
                </select>
                <span asp-validation-for="Plataformas" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="EmpresaDesenvolvedora" class="control-label"></label>
                <input asp-for="EmpresaDesenvolvedora" class="form-control" />
                <span asp-validation-for="EmpresaDesenvolvedora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataLancamento" class="control-label"></label>
                <input asp-for="DataLancamento" class="form-control" />
                <span asp-validation-for="DataLancamento" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px;margin-bottom: 10px;">
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
